{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block own_css %}{% endblock %}
{% block title %}
    <title>Больничные - главная</title>
    {#    <link rel="stylesheet" type="text/css" href="{% static 'disease/css/dashboard.css' %}">#}
{% endblock %}

{% block content %}
    <div class="container">
        <br><br>
        <div class="card" style="width: 40rem;">
            <div class="card-body">
                <h4 class="card-title">Сводные данные</h4>
                <h5>Всего сотрудников <span class="badge bg-secondary">720</span></h5>
                <h5>Получили одну прививку <span class="badge bg-secondary">100/70/30</span></h5>
                <h5>Получили две прививки <span class="badge bg-secondary">10</span></h5>
                <h5>Имеют противопаказания <span class="badge bg-secondary">10</span></h5>
            </div>
        </div>
        <br><br>
        <p>
            <a class="link-secondary needs-spinner" data-bs-toggle="collapse" href="#collapseExample" role="button"
               aria-expanded="false" aria-controls="collapseExample">
                Расширенный поиск
            </a>
        </p>
        <div class="collapse" id="collapseExample">
            <div class="card card-body">
                <form>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Подразделение</label>
                                {% render_field filter.form.subdivision class+="form-select my-select2" style="width: 100%" %}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Фамилия</label>
                                {% render_field filter.form.last_name class+="form-control" %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Звание</label>
                                {% render_field filter.form.rank class+="form-control my-select2" style="width: 100%" %}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Должность</label>
                                {% render_field filter.form.position class+="form-select my-select2" style="width: 100%" %}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <div class="mb-3">
                                <label class="form-label">Дата рождения с</label>
                                {% render_field filter.form.date_of_birth_start class+="form-control" %}
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="mb-3">
                                <label class="form-label">Дата рождения по</label>
                                {% render_field filter.form.date_of_birth_end class+="form-select" %}
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="mb-3">
                                <label class="form-label">Пол</label>
                                {% render_field filter.form.sex class+="form-control" %}
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="mb-3">
                                <label class="form-label">Семейное положение</label>
                                {% render_field filter.form.marital_status class+="form-select" %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="mb-3">
                                <label class="form-label">Рабочий статус</label>
                                {% render_field filter.form.work_status class+="form-select" %}
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="mb-3">
                                <label class="form-label">Имеет противопоказания</label>
                                {% render_field filter.form.has_contraindications class+="form-select" %}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <div class="mb-3">
                                <label class="form-label">Желает пройти вакцинацию</label>
                                {% render_field filter.form.is_willing class+="form-select" %}
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="mb-3">
                                <label class="form-label">Вакцинирован</label>
                                <select class="form-select" aria-label="Default select example" name="is_vaccinated">
                                    {% if condition == "all" %}
                                        <option value="all" selected>---------</option>
                                        <option value="True">Да</option>
                                        <option value="">Нет</option>
                                    {% elif condition == "True" %}
                                        <option value="all">---------</option>
                                        <option value="True" selected>Да</option>
                                        <option value="">Нет</option>
                                    {% else %}
                                        <option value="all">---------</option>
                                        <option value="True">Да</option>
                                        <option value="" selected>Нет</option>
                                    {% endif %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-secondary">Поиск</button>
                    <a href="{% url 'covid:list' %}" class="btn btn-secondary">Сбросить фильтр</a>
                </form>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        {% if request.user.is_superuser %}
            <div style="text-align: right" class="mb-3">
                <a href="{% url 'covid:employee-add' %}" class="link-secondary needs-next"><b>Добавить сотрудника</b></a>
            </div>
        {% endif %}
        {% if employees_list %}
            <h6>Найдено записей - <b>{{ employees_list.count }}</b></h6>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col" class="align-middle">№ п.п</th>
                    <th scope="col" class="align-middle">Фамилия</th>
                    <th scope="col" class="align-middle">Имя</th>
                    <th scope="col" class="align-middle">Отчество</th>
                    <th scope="col" class="align-middle">Подразделение</th>
                    <th scope="col" class="align-middle">Дата рождения</th>
                    <th scope="col" class="align-middle">Первая вакцина</th>
                    <th scope="col" class="align-middle">Вторая вакцина</th>
                    <th scope="col" class="align-middle">Последнее редактирование</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                {% for employee in employees_list %}
                    <tr>
                        <td class="align-middle">{{ forloop.counter }}</td>
                        <td class="align-middle"><a href="{% url 'covid:employee-update' employee.id %}"
                                                    class="link-secondary needs-next">{{ employee.last_name }}</a></td>
                        <td class="align-middle">{{ employee.first_name|default_if_none:"Нет данных" }}</td>
                        <td class="align-middle">{{ employee.patronymic|default_if_none:"Нет данных" }}</td>
                        <td class="align-middle">{{ employee.subdivision|default_if_none:"Нет данных" }}</td>
                        <td class="align-middle">{{ employee.date_of_birth|default_if_none:"Нет данных" }}</td>
                        <td class="align-middle">{{ employee.get_is_vaccinated_first_date|default_if_none:"Нет данных" }}</td>
                        <td class="align-middle">{{ employee.get_is_vaccinated_second_date|default_if_none:"Нет данных" }}</td>
                        <td class="align-middle">{{ employee.last_modified|default_if_none:"Нет данных" }}</td>

                        <td class="align-middle">
                            <a href="{% url 'covid:employee-vaccines' employee.id %}"
                               class="link-secondary">вакцинации</a><br>
                            <a href="{% url 'covid:employee-info' employee.id %}"
                               class="link-secondary">сводная информация</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="container">
                <h5>Список пуст</h5>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block own_js %}{% endblock %}

