{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block own_css %}{% endblock %}
{% block title %}
    <title>Больничные - главная</title>
    {#    <link rel="stylesheet" type="text/css" href="{% static 'disease/css/dashboard.css' %}">#}
{% endblock %}

{% block content %}
        <div class="container">
            <br><br>
            <div class="card" style="width: 40rem;">
                <div class="card-body">
                    <h4 class="card-title">Сводные данные</h4>
                    <h5><span class="badge bg-secondary">720</span> Всего сотрудников</h5>
                    <h5><span class="badge bg-secondary">100/70/30</span> Всего больничных листов/болезнь/карантин</h5>
                    <h5><span class="badge bg-secondary">10</span> сейчас открыто больничных листов</h5>
                </div>
            </div>
            <br><br>
            <p>
                <a class="link-secondary" data-bs-toggle="collapse" href="#collapseExample" role="button"
                   aria-expanded="false" aria-controls="collapseExample">
                    Расширенный поиск
                </a>
            </p>
            <div class="collapse" id="collapseExample">
                <div class="card card-body">
                    <form>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Фамилия</label>
                                    {% render_field filter.form.last_name class+="form-control" %}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Подразделение</label>
                                    {% render_field filter.form.subdivision class+="form-select" %}
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-secondary">Поиск</button>
                        <a href="{% url 'covid:list' %}" class="btn btn-secondary">Сбросить фильтр</a>
                    </form>
                </div>
            </div>
        </div>
        <div class="container-fluid">
        {% if request.user.is_superuser %}
            <div style="text-align: right">
                <a href="{% url 'covid:employee-add' %}" class="link-secondary"><b>Новый сотрудник</b></a>
            </div>
        {% endif %}

            {% if employees_list %}

                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">№ п.п</th>
                        <th scope="col">Фамилия</th>
                        <th scope="col">Имя</th>
                        <th scope="col">Отчество</th>
                        <th scope="col">Подразделение</th>
                        <th scope="col">Дата рождения</th>
                        <th scope="col">Последнее редактирование</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for employee in employees_list %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td><a href="{% url 'covid:employee-update' employee.id %}" class="link-secondary">{{ employee.last_name }}</a></td>
                            <td>{{ employee.first_name|default_if_none:"Нет данных" }}</td>
                            <td>{{ employee.patronymic|default_if_none:"Нет данных" }}</td>
                            <td>{{ employee.subdivision|default_if_none:"Нет данных" }}</td>
                            <td>{{ employee.date_of_birth|default_if_none:"Нет данных" }}</td>
                            <td>{{ employee.last_modified|default_if_none:"Нет данных" }}</td>
                            <td><a href="{% url 'covid:employee-vaccines' employee.id %}" class="link-secondary">вакцинации</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            {% else %}
                <p>Список пуст</p>
            {% endif %}
        </div>
{% endblock %}

{% block own_js %}{% endblock %}

