{% extends "base.html" %}

{% block own_css %}{% endblock %}
{% block title %}
    <title>404</title>
{% endblock %}

{% block content %}
    <div class="container">
        <br>
        <br>
        <div class="card" style="width: 90%;">
            <div class="card-body">
                <h5 class="card-title">404</h5>
                <p class="card-text">Страница на которую Вы пытаетесь перейти не существует!</p>
                <a href="/" class="btn btn-secondary">Вернуться на главную</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block own_js %}{% endblock %}

