{% extends "base.html" %}

{% block own_css %}{% endblock %}
{% block title %}
    <title>500</title>
{% endblock %}

{% block content %}
    <div class="container">
        <br>
        <br>
        <div class="card" style="width: 90%;">
            <div class="card-body">
                <h5 class="card-title">500</h5>
                <p class="card-text">Внутренняя ошибка сервера! Свяжитесь с ООИТ по телефону +375-44-723-48-13</p>
                <a href="/" class="btn btn-primary">Вернуться на главную</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block own_js %}{% endblock %}

