{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block own_css %}{% endblock %}
{% block title %}
    <title>Вакцинация</title>
{% endblock %}

{% block content %}
    <div id="main-div">
        <div class="container">
            <br>
            <form class="needs-validation" method="post">{% csrf_token %}
                <input type="hidden" id="id-employee-id" name="employee-id" value="{{ employee_id }}">
                <input type="hidden" id="id-vaccine-course-id" name="vaccine-course-id" value="{{ vac_course.id }}">
                <div class="mb-3">
                    <label class="form-label">Вид вакцины</label>
                    {% render_field form.vaccine_kind class+="form-control" %}
                </div>
                <div class="col-md-3">
                    <label class="form-label">Вид вакцины</label>
                    {% render_field form.date1 class+="form-control" %}
                </div>
                <div class="col-md-3">
                    <label class="form-label">Вид вакцины</label>
                    {% render_field form.date2 class+="form-control" %}
                </div>
                {% block button %}
                    <button type="submit" value="Save" class="btn btn-secondary mt-3" id="id-vaccine-add-button">
                        Сохранить
                    </button>
                {% endblock %}
            </form>
        </div>
    </div>
{% endblock %}

{% block own_js %}
    <script src="{% static 'covid/js/vaccine_add_ajax.js' %}"></script>
    {#    <script>#}
    {#        (function () {#}
    {#            'use strict'#}
    {#            // Fetch all the forms we want to apply custom Bootstrap validation styles to#}
    {#            var forms = document.querySelectorAll('.needs-validation')#}
    {##}
    {#            // Loop over them and prevent submission#}
    {#            Array.prototype.slice.call(forms)#}
    {#                .forEach(function (form) {#}
    {#                    form.addEventListener('submit', function (event) {#}
    {#                        if (!form.checkValidity()) {#}
    {#                            event.preventDefault()#}
    {#                            event.stopPropagation()#}
    {#                        }#}
    {##}
    {#                        form.classList.add('was-validated')#}
    {#                    }, false)#}
    {#                })#}
    {#        })()#}
    {#    </script>#}
{% endblock %}

